<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LEA_Browser.Properties.Settings.LEAConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=LEA;Persist Security Info=True;User ID=sa;Password=vlad"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=LEA;User ID=sa;Password=vlad;MultipleActiveResultSets=True;"/>
    <add key="UserName" value="admin"/>
    <add key="Password" value="vlad"/>
  </appSettings>
</configuration>